#calc{
  box-sizing: border-box;
  text-align: center;
}
input{
  box-sizing: border-box;
  width: 40%;
  height: 2.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}
button{
  font-size: 14px;
  width: 10%;
  height: 1.5rem;
  color: #000;
  border-color: #fff;
}