#result {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  height: 25px;
  margin-bottom: 7px;
}
.operation input{
  box-sizing: border-box;
  width: 50%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}
.operation input{
  font-size: 18px;
  width: 40px;
  height: 40px;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
}