element.style {
}
body {
    color: #000;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
body {
    -webkit-font-smoothing: antialiased;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    display: block;
    margin: 8px;
}
html {
    -webkit-text-size-adjust: 100%;
}
script {
    display: none;
}
.Header {
    width: 100%;
    position: absolute;
}
.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
header {
    display: block;
}
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
}
div {
    display: block;
}
@media screen and (min-width: 768px)
.HeaderLogo {
    transition: opacity .2s;
}
a {
    color: #000;
    text-decoration: none;
}
.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}
img {
    border: 0;
    vertical-align: middle;
}
.lazyload {
    background-image: none !important;
}
.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}
img {
    border: 0;
    vertical-align: middle;
}
.HeaderContainer>*:last-child {
    display: inline-flex;
}
nav {
    display: block;
}
.HeaderNavHamburger {
    display: none;
}
.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
ul, ol {
    list-style: none;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
@media screen and (min-width: 768px)
.HeaderNavListItem {
    transition: opacity .2s;
}
.HeaderNavListItem {
    margin-right: 45px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.HeaderNavListItem__link {
    display: block;
}
.HeaderNavListItem__link>span:first-child {
    font-family: 'Lato',sans-serif;
}
.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}
a {
    color: #000;
    text-decoration: none;
}
li {
    text-align: -webkit-match-parent;
}
ul, ol {
    list-style: none;
}
.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}
a {
    color: #000;
    text-decoration: none;
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
.HeaderNavListItem__button:visited {
    color: #fff;
}
.HeaderNavListItem__button {
    transition: opacity .2s;
}
.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
main {
    display: block;
}
body {
    color: #000;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.FirstView {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}
section {
    display: block;
}
.lazyload {
    background-image: none !important;
}
.FirstView__main-image--sp {
    display: none;
}
.FirstView__main-image {
    width: 100%;
}
.FirstView__container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}
.FirstViewContent__title {
    color: #000;
    font-family: 'Lato',sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.FirstViewContent__images {
    margin-bottom: 25px;
}
.FirstViewContent__images img {
    margin-right: 8px;
}
img {
    border: 0;
    vertical-align: middle;
}
.FirstViewContent__images img:nth-of-type(2) {
    width: 40%;
}
.FirstViewContent__images img {
    margin-right: 8px;
}
.FirstViewContent__images img:last-of-type {
    margin-right: 0;
}
.FirstViewContent__buttons {
    display: flex;
}
.FirstViewContent__buttons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}
.FirstViewContent__buttons a:visited {
    color: #fff;
}
.FirstViewContent__buttons a {
    transition: opacity .2s;
}
.FirstViewContent__buttons a {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}
.FirstViewContent__buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #000;
    width: 176px;
}
.FirstViewCaption a {
    color: #a2a2a4;
}
.FirstViewCaption {
    color: #a2a2a4;
    font-size: 12px;
}
p {
    color: #000;
}
p {
    line-height: 1.5;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.AboutWrapper {
    padding: 120px 0;
    background-color: #f79214;
    padding: 44px 0;
}
.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.About__video {
    width: 50%;
}
video {
    object-fit: contain;
}
.About__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 32px;
}
.About__title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    width: 100%;
}
.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}
.About__title h2 {
    font-family: 'Lato',sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 74px;
}
.About__title h2>span {
    font-family: 'Lato',sans-serif;
    font-size: 38px;
}
.About__title h2 span {
    font-weight: 900;
}
.About__title br {
    display: none;
}
.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
.About__title p {
    display: inline-block;
    margin-top: 10px;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.About__button>img {
    margin-right: 5px;
}
img {
    border: 0;
    vertical-align: middle;
}
.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
a:-webkit-any-link {
    cursor: pointer;
}
